<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Contact</title>
    <link rel="stylesheet" href="{% static 'contact/style-edit.css' %}" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/52c7eceb7b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <header class="hero">
        <a href="{% url 'index' %}">
          <i class="fas fa-arrow-circle-left back-btn"></i>
        </a>
        <div class="hero-info">
          <h1 class="name">New Contact</h1>
        </div>
      </header>
      <form action="" method="POST">
        {% csrf_token %}
      <section class="contact-info">
        <div class="info-line">
          <i class="fas fa-user-circle icon-gradient"></i>
          <input
            type="text"
            class="type"
            name="fullname"
            placeholder="Full Name"
          />
        </div>
        <div class="info-line">
          <i class="fas fa-phone icon-gradient"></i>
          <input
            type="text"
            class="type"
            name="phone"
            placeholder="Phone Number"
          />
        </div>
        <div class="info-line">
          <i id="rel" class="fas fa-users icon-gradient"></i>
          <input
            type="text"
            class="type"
            name="relationship"
            placeholder="Relationship"
          />
        </div>
        <div class="info-line">
          <i class="fas fa-envelope icon-gradient"></i>
          <input type="text" class="type" name="email" placeholder="Email" />
        </div>
        <div class="info-line">
          <i id="location" class="fas fa-map-marker-alt icon-gradient"></i>
          <input
            type="text"
            class="type"
            name="address"
            placeholder="Address"
          />
        </div>
      </section>
      <section class="button-container">
        <a href="#">
          <div class="update-contact">
            <i class="fas fa-check-circle icon-gradient"></i>
            <button class="button">Save Contact</button>
          </div>
        </a>
      </section>
    </div>
  </body>
</html>
